*,
::after,
::before,
::backdrop,
::file-selector-button {
  margin: 0;
  padding: 0;
}

*,
::after,
::before,
::backdrop,
::file-selector-button {
  box-sizing: border-box;
  border: 0 solid;
}

body {
    background-color: rgb(200, 233, 250);
    padding: 10px;
}

h1 {
    font-size: large;
}

.dot {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 4px;
    border-radius: 50%;
}

.one {
    background-color: rgb(253, 109, 109);
}

.two {
    background-color: white;
}

.three {
    background-color: rgb(109, 214, 109);
}

.header-wrapper {
    display: flex;
    padding: 7px;
    border-bottom-width: 2px;
    border-color: black;
    background-color: rgb(255, 187, 60);
    align-items: center;
    gap: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.dot-wrapper {
    display: flex;
    gap: 5px;
}

p {
    padding-bottom: 6px;
}

#result {
    overflow-wrap: break-word;
}

textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 35px;
    border-width: 1px;
    border-color: black;
    margin: 7px 0;
}

.popup {
    width: 350px;
    max-width: 350px;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    box-shadow: 3px 3px 0 black;
}

.content {
    padding: 8px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.roboto-mono-regular {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  button {
    display: block;
    padding: 3px 7px;
    border-width: 1px;
    margin-left: auto;
    background-color: rgb(255, 187, 60);
    border-radius: 3px;
    box-shadow: 1px 1px 0 black;
    font-weight: 500;

  }

  button:hover {
    background-color: rgb(252, 234, 200);
    cursor: pointer;
  }

  .note {
    font-size: smaller;
  }